@keyframes flechounette {
  0% {transform:translateY(-140%)}
  30% {transform:translateY(0)}
  70% {transform:translateY(0)}
  100% {transform:translateY(140%)}
}
@keyframes appear {
  0% {
    opacity:0;
    transform:translateY(25%);
  }
  100% {
    opacity:1;
    transform:translateY(0);
  }
}
.wrapper {
  width: 70%;
  margin:0 auto;
}
.section {
  padding:150px 0;
  background-color:#fff;
  color:$bleu;
}
img {
  max-width:100%;
}
// Typo
h2 {
  font-family: $main-typo;
  font-weight: 100;
  font-size: 50px;
  color:$bleu;
}
.sup-title {
  text-transform: uppercase;
  color:$rouge;
  font-family: $main-typo;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 30px;
}