.main-nav {
  margin-left: auto;
  font-family: 'Lexend Deca', sans-serif;
  a {
    color:inherit;
    text-decoration: none;
    margin-left: 40px;
  }
  a:last-child {
    margin-left: 100px;
  }
}